<style>
.about {
  text-align: center;
  margin: auto;
  max-width: 15em;
}
</style>

<div class="about">
  <h1>About</h1>
  <a href="/">Back</a>

  <h4>How does is work?</h4>
  <p>When you press the button and give the app permission,
     your picture is sent to AWS Rekognition,
     a service for analyzing pictures</p>

  <h4>Can you see my face?</h4>
  <p>No. The pictures are gone as soon as they are analyzed</p>
</div>
