<script src="webcam.js"></script>

<div id="my_camera" class="hidden"></div>

<style>
.emotion-detector {
  text-align: center;
  height:100%;
}

.emotion-container img {
    padding: 0;
    display: block;
    margin: 3em auto;
    max-height: 13em;
    max-width: 100%;
}

.emotion-controls {
  position: relative;
  bottom: 3em;
}

.emotion-controls-prompt {
  padding: 3em;
}

</style>

<div class="emotion-detector">
  <div class="emotion-container">
    <img id="emotion" src='/images/unknown.png'>
  </div>

  <div class='emotion-controls'>
    <div class="emotion-controls-live" style="display:none;">
      <button id="button" class="btn-big-red" type="button">Detect Emotion</button>
      <p>press and hold to live detect from camera</p>
    </div>

    <div class="emotion-controls-fallback">
      <input id="fallback-input" type="file" accept="image/*">
      <p id='fallback-status'></p>
      <p>Choose a picture for Emotion Detection</p>
      <p>Enable access to camera for live analysis</p>
    </div>

  </div>
</div>

<script>
  Webcam.attach('#my_camera');

  Webcam.on( 'live', function() {
    jQuery('.emotion-controls-live').show()
    jQuery('.emotion-controls-fallback').hide()
  })
</script>


<script>
jQuery("#fallback-input").on('change', function(event) {
  var file = event.target.files[0]
  var reader = new FileReader()
  var data_uri

  jQuery("#fallback-status").text('Detecting Emotion...')

  reader.addEventListener("load", function () {
    data_uri = reader.result

    jQuery.post("/", { data_uri: data_uri } )
      .done( function( data ) {
          console.log(data)
          var emotion = data.emotion
          jQuery("#emotion").attr( 'src', '/images/' + emotion + '.png')
          jQuery('body').removeClass().addClass(emotion);
          event.target.value = ''
          jQuery("#fallback-status").text('')
    })

  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
})
</script>

<script language="JavaScript">
    var running

		jQuery('#button').on('touchstart mousedown', function(event) {
			running = true
			loop_snapshot()
		})

		jQuery('#button').on('touchstop mouseup', function(event) {
			running = false
		})

    function take_snapshot() {
        Webcam.snap( function( data_uri ) {
            jQuery.post("/", { data_uri: data_uri } )
              .done( function( data ) {
                  console.log(data)
									var emotion = data.emotion
						      jQuery("#emotion").attr( 'src', '/images/' + emotion + '.png')
									jQuery('body').removeClass().addClass(emotion);
            })
        })
    }

    function loop_snapshot() {
			if (!running) {
				jQuery("#emotion").attr( 'src', '/images/unknown.png')
				jQuery('body').removeClass()
        return
			}
      take_snapshot()
      setTimeout(loop_snapshot, 1000)
    }
</script>
