<script src="webcam.js"></script>

<div id="my_camera" class="hidden"></div>

<div class="emotion-container">
  <img id="emotion" src='/images/unknown.png'>
</div>

<div class='controls'>
  <button id="button" class="btn-big-red" type="button" style="display:none;">Detect Emotion</button>
  <p id="button-prompt">Enable access to camera to see the big red button</p>
</div>

<script language="JavaScript">
    Webcam.attach('#my_camera');

    Webcam.on( 'live', function() {
      jQuery('#button').show()
      jQuery('#button-prompt').hide()
    })

    var running

		jQuery('#button').on('touchstart mousedown', function(event) {
			running = true
			loop_snapshot()
		})

		jQuery('#button').on('touchstop mouseup', function(event) {
			running = false
		})

    function take_snapshot() {
        Webcam.snap( function( data_uri ) {
            jQuery.post("/", { data_uri: data_uri } )
              .done( function( data ) {
                  console.log(data)
									var emotion = data.emotion
						      jQuery("#emotion").attr( 'src', '/images/' + emotion + '.png')
									jQuery('body').removeClass().addClass(emotion);
            })
        })
    }

    function loop_snapshot() {
			if (!running) {
				jQuery("#emotion").attr( 'src', '/images/unknown.png')
				jQuery('body').removeClass()
        return
			}
      take_snapshot()
      setTimeout(loop_snapshot, 1000)
    }
</script>
