<script src="webcam.js"></script>

<div id="my_camera" class="hidden" ></div>
<img id="emotion" src='/images/unknown.png'>
<button id="button" type="button">Detect</button>


<script language="JavaScript">
    Webcam.attach('#my_camera');

    var running

		jQuery('#button').on('touchstart mousedown', function(event) {
			running = true
			loop_snapshot()
		})

		jQuery('#button').on('touchstop mouseup', function(event) {
			running = false
		})

    function take_snapshot() {
        Webcam.snap( function( data_uri ) {
            jQuery.post("/", { data_uri: data_uri } )
              .done( function( data ) {
                  console.log(data)
									var emotion = data.emotion
						      jQuery("#emotion").attr( 'src', '/images/' + emotion + '.png')
									jQuery('body').removeClass().addClass(emotion);
            })
        })
    }

    function loop_snapshot() {
			if (!running) {
				jQuery("#emotion").attr( 'src', '/images/unknown.png')
				jQuery('body').removeClass()
        return
			}
      take_snapshot()
      setTimeout(loop_snapshot, 1000)
    }
</script>
