html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  width: 100%;
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
}

.hidden {
  position:fixed;
  width:320px;
  height:240px;
  left: -500px;
  top: -500px;
  visibility:hidden;
}
