.emotion-detector {
  text-align: center;
  height:100%;
}

.emotion-container img {
    padding: 0;
    display: block;
    margin: 3em auto;
    max-height: 13em;
    max-width: 100%;
}

.emotion-controls {
  position: relative;
  bottom: 3em;
}

.emotion-controls-prompt {
  padding: 3em;
}

.happy { background-color: #FFCC00 }
.sad { background-color: #91AABA}
.angry { background-color: #77322F }
.confused { background-color: #F98704 }
.surprised { background-color: #F25DAF }
.disgusted { background-color: #98BA2A }
.calm { background-color: #B3E6FF }
.unknown { background-color: #EFEFDE }
