.emotion-detector {
  text-align: center;
  height:100%;
}

.emotion-container img {
    padding: 0;
    display: block;
    margin: 3em auto;
    max-height: 13em;
    max-width: 100%;
}

.emotion-controls {
  position: relative;
  bottom: 3em;
}

.emotion-controls-prompt {
  padding: 3em;
}

.happy { background-color: #5FCC77 }
.sad { background-color: #5A77AA}
.angry { background-color: #77322F }
.confused { background-color: #DBA547 }
.surprised { background-color: #CF4377 }
.disgusted { background-color: #743377 }
.calm { background-color: #FCFFF5 }
.unknown { background-color: #4BCCC6 }
